<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Ph.D. in Mechanical Engineering</h1>
            <span>Carnegien Mellon University</span>
            <span><address>Pittsburgh, Pennsylvania - 2016 to  Present</span>
            <span><address>Advisor: Professor B. Reeja Jayan </span>
        </header>
        <p>
            <em> </em>
        </p>
    </article>
    <article>
        <header>
            <h1>Master in Automotive Engineering</h1>
            <span>Tsinghua University </span>
            <span><address>Beijing, China - 2013 to 2016</span>
            <span><address>Advisor: Professor Jianbo Zhang </span>
        </header>
        <span>
            <em>Dissertation: Study of Energy Type Lithium-Ion Cell Degradation Behavior under Multiple Stresses (Outstanding Thesis in Tsinghua University in 2016)</em>
        </span>
    </article>
    <article>
        <header>
            <h1>Bachelor in Automotive Engineering</h1>
            <span>Hefei University of Technology  </span>
            <span><address>Heifei, China - 2009 to 2013</span>
        </header>
        <span>
            <em>Dissertation: The Effect of Degradation on the Thermal Safety Issues in Lithium-Ion Battery (Outstanding Thesis in Hefei University of Technology)</em>
        </span>
		<span><address>Graduation with Outstanding Award in Hefei University</span>
    </article>
</section>
