<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Data Science</h1>
            <span>Dalarna University</span>
            <span><address>Dalarna, Sweden</address><time>2019 to 2021</time></span>
        </header>
        <p>
            <em>Thesis: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Major in Computer Science</h1>
            <span>Ashesi University</span>
            <span><address>Eastern Region, Ghana</address><time>2007 to 2011</time></span>
        </header>
        <p>
            <em>Dissertation: Te dicit scripta nec, nec illud decore partem et.</em>
        </p>
    </article>
</section>
