<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Masters student in Language Technology</h1>
            <span>Uppsala University</span>
            <span><address>Uppsala, Sweden</address><time>2011 to 2012</time></span>
        </header>
        <p>
            <em>
    </article>
    <article>
        <header>
            <h1>MA in applied linguistics and ELT</h1>
            <span>University of Dhaka</span>
            <span><address>Dhaka, Bangladesh</address><time>2007 to 2011</time></span>
        </header>
        <p>
            <em></em>
        </p>
    </article>
    <article>
        <header>
            <h1>BA(Honours) in English Literature and Language</h1>
            <span>University of Dhaka</span>
            <span><address>Dhaka, Bangladesh</address><time>2007 to 2011</time></span>
        </header>
        <p>
            <em></em>
        </p>
    </article>
</section>
