<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Research Engineer</h1>
            <span><address>Linköping, Sweden</address><time>Nov 2020 to March 2021</time></span>
        </header>
        <p> </p>
    </article>
    <article>
        <header>
            <h1>PhD Researcher</h1>
            <span><address>Stockholm, Sweden</address><time>2014 to 2020</time></span>
        </header>
        <p> KTH Royal Institute of Technology, Stockholm
            I have completed my PhD study that focuses on the application of resonance testing 
            on asphalt concrete for evaluating thermally induced damage and healing. Developed a 
            non-contact resonance testing method for characterizing asphalt concrete under low temperature. 
            Applied theoretical and finite element modeling to support experimental results from the new testing method.</p>
    </article>
    <article>
        <header>
            <h1>Road Engineer</h1>
            <span><address>Beza Consulting Engineers, Addis Ababa, Ethiopia</address><time>2011 to 2014</time></span>
        </header>
        <p>Responsible for geometric design of roads/highways. Served under the direction of the team leader on the engineering 
            development of highway/roadway projects. Prepared detailed engineering designs of highway/roadway projects including 
            bill of quantities. Involved in the projects feasibility analysis to final design as well as the construction phase. 
            Involved in preparation of concept alignments, geometrical layout and CAD base alignment plans. Regularly visited construction site to approve and monitor working drawings and performed different realignment of original designs for a better quality. Prepared proposal report for new road projects.</p>
    </article>
</section>
