<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Software Engineer</h1>
            <span><address>Edinburgh, UK</address><time>2015 to Present</time></span>
        </header>
        <p>As part of a highly talented UX design/development team, I support the development of photo-centric features,
            such as a gesture-driven photo gallery and geographically clustered photo map. </p>
    </article>
    <article>
        <header>
            <h1>iOS Developer</h1>
            <span><address>Stanford, Mexico City, CA, USA</address><time>2014 to 2015</time></span>
        </header>
        <p>Completed bespoke iOS work for various clientes including: development of tutorials,
        enterprise apps and augmented reality consulting.</p>
    </article>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>University of Bristol, Bristol, UK</address><time>2013 to 2014</time></span>
        </header>
        <p>Taught with <strong>Autodesk May</strong> and was point of contact for +100 students in the
            'Character & Set Design" and "Animation Production" units.</p>
    </article>
    <article>
        <header>
            <h1>iOS Developer</h1>
            <span><address>Basecamp Student Start-up, Bristol, UK</address><time>2013</time></span>
        </header>
        <p>Served as a technology consultant for new student start-ups and assisted in entrepreneurial events.
            Developed native iOS apps for <strong>FWSim</strong> and <strong>PatchworkPie</strong>.
            </p>
    </article>
    <article>
        <header>
            <h1>Web Developer</h1>
            <span><address>Birmingham, UK</address><time>2007 to 2010</time></span>
        </header>
        <p>As a freelancer I developed websites for several clients using platforms such as <strong>wordpress</strong> and
            <strong>Drupal</strong>. Become proficient in using various HTML/CSS/Javascript frameworks as
            well as PHP programming.
        </p>
    </article>
</section>
