<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Research Engineer</h1>
            <span><address>Linköping, Sweden</address><time>Nov 2020 to March 2021</time></span>
        </header>
        <p> </p>
    </article>
    <article>
        <header>
            <h1>PhD Researcher</h1>
            <span><address>Stockholm, Sweden</address><time>2014 to 2020</time></span>
        </header>
        <p> KTH Royal Institute of Technology, Stockholm
            I have completed my PhD study that focuses on the application of resonance testing 
            on asphalt concrete for evaluating thermally induced damage and healing. Developed a 
            non-contact resonance testing method for characterizing asphalt concrete under low temperature. 
            Applied theoretical and finite element modeling to support experimental results from the new testing method.</p>
    </article>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>University of Glasgow, Glasgow, UK</address><time>2013 to 2014</time></span>
        </header>
        <p>Latine bonorum deserunt at nam. Mea nisl officiis eu, propriae similique has te, mei an brute meliore electram.
            Quo admodum omittantur ei, etiam principes at eos. Sit vocent commodo ceteros in, at mel idque everti.</p>
    </article>
    <article>
        <header>
            <h1>iOS Developer</h1>
            <span><address>Student Start-up, Glasgow, UK</address><time>2013</time></span>
        </header>
        <p>Mucius sententiae et mei, nec an diam ignota, tale epicurei intellegebat ne sit. Sumo pertinacia contentiones duo ei.</p>
    </article>
    <article>
        <header>
            <h1>Web Developer</h1>
            <span><address>Birmingham, UK</address><time>2007 to 2010</time></span>
        </header>
        <p> Et sed tritani volumus, dico rebum facilisis ea sed. His mundi efficiantur concludaturque no.
            Cu eos argumentum constituam repudiandae, eu eum lorem nostrum, ei mel dicam iriure fabellas.
        </p>
    </article>
</section>
