<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.name }}'s Résumé">
<!--    <link rel="icon" href="https://kamranali.in/vitae/static/img/favicon.ico?v=2" />  -->
    
<!--    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />  -->
    
    <style>
        {% capture include_to_scssify %}
        {% include base.scss %}
        {% include skeleton.scss %}
        {% include layout.scss %}
        {% include font-awesomemin.scss %}
        {% endcapture %}
        {{ include_to_scssify | scssify }}
    </style>
    
</head>