<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Graduate Summer Student</h1>
            <span><address>Stanford University, Stanford, CA, USA</address><time>2013</time></span>
        </header>
        <p>
            Courses: Client-side Internet Technology, Computer Graphics & Imaging, Interactive Devie Design
        </p>
    </article>
    <article>
        <header>
            <h1>Exhibitor & Student Volunteer</h1>
            <span><address>SIGGRAPH, Anaheim, CA, USA</address><time>2013</time></span>
        </header>
        <p>
            Poster: Contex-Aware Compositing using an Interactive Mobile Tool.
        </p>
    </article>
</section>